.navbar, #fixed2, .breadcrumbs-nav, .info-panel, .quick-results-h2, .sound-layer {
    display: none !important;
}

.main {
    padding-top: 0 !important;
}

.cc-window {
    font-size: .8em !important;
}
