nav,
header,
iframe,
aside,
.css-1g5b64m,
.css-mtqscf,
.css-1lfse6c,
.css-hh4f95 {
    display: none !important;
}

.css-1qbmdpe {
    margin: 0 !important;
    margin-right: 1rem !important;
}

.css-1sdcacc {
    margin-top: .5rem !important;
}
