nav,
header,
iframe,
aside,
.css-1g5b64m,
.css-mtqscf,
.css-1lfse6c,
.css-hh4f95 {
    display: none;
}

.css-1qbmdpe {
    margin: 0;
    margin-right: 1rem;
}

.css-1sdcacc {
    margin-top: .5rem;
}

h1 {
    line-height: 1 !important;
    margin-top: .5rem !important;
}
