body {
    font-family: "Roboto", "Segoe UI", sans-serif;
    font-size: 12pt;
    padding: 1.5em 3em;
}

img {
    padding-right: 1em;
}

h2 {
    margin-bottom: 2em;
}

li {
    list-style: none;
    margin-bottom: .7em;
}
