body {
    color: #454545;
    font-family: "Lato", "Roboto", "Segoe UI", sans-serif;
    font-size: 12pt;
    padding: 1.5em 3em;
}

img {
    float: left;
    height: 64px;
    width: 64px;
    padding-right: 2em;
}

h2 {
    line-height: 64px;
    margin-bottom: 2em;
}

li {
    list-style: none;
    margin-bottom: .7em;
}

.release-notes > li > strong {
    background-color: #e8c13a;
    border-radius: 10%;
    font-size: .9em;
    padding: 1px 3px;
}
