body {
    width: 300px;
    font-family: "Lato", "Roboto", "Segoe UI", sans-serif;
    font-size: 12pt;
    color: #454545;
    padding: 10px;
}

p {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 10px;
}

li + li {
    margin-top: 5px;
}

li:hover, .active {
    background-color: #e8c13a;
}
