body {
    width: 200px;
    font-family: "Segoe UI", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: .5em;
}

li + li {
    margin-top: 5px;
}

li:hover, .active {
    background-color: #f0f0f0;
}
