body {
    width: 300px;
    font-family: "Roboto", "Segoe UI", sans-serif;
    color: #454545;
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: .5em;
}

li + li {
    margin-top: 5px;
}

li:hover, .active {
    background-color: #e8c13a;
}
