#dictionary-popup {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
    height: 200px;
    width: 500px;
    position: absolute;
    z-index: 9999;
    border: 2px solid #b5b5b5;
}

#dictionary-popup > iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.spinner {
    height: 35px;
    width: 35px;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}

.spinner:after {
    animation: spinner 1.2s linear infinite;
    border: 5px solid;
    border-color: #b5b5b5 transparent #9b9b9b transparent;
    border-radius: 50%;
    content: " ";
    display: block;
    height: 25px;
    width: 25px;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
