#adict-popup {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
    width: 500px;
    min-height: 260px;
    position: absolute;
    z-index: 9999;
    border: 2px solid #b5b5b5;
    text-align: right;
}

#adict-popup > iframe {
    height: 260px;
    width: 100%;
    border: none;
}

#adict-popup > a {
    bottom: 3px;
    right: 0;
    left: 0;
    color: #b5b5b5;
    font-size: 8pt;
    font-family: "Lato", "Roboto", "Segoe UI", sans-serif;
    margin: 0;
    padding: 3px 10px;
    line-height: 15px;
    position: relative;
}

#adict-popup > a:hover {
    text-decoration: underline;
}

.adict-spinner {
    height: 35px;
    width: 35px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#adict-trigger-button {
    background-image: url('./../icons/main.svg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    min-height: initial;
    min-width: initial;
    width: 1em;
    height: 1em;
    border: 0;
    position: absolute;
    z-index: 9999;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.adict-spinner:after {
    animation: adict-spinner 1.2s linear infinite;
    border: 5px solid;
    border-color: #b5b5b5 transparent #e8c13a transparent;
    border-radius: 50%;
    box-sizing: unset;
    content: " ";
    display: block;
    height: 25px;
    width: 25px;
}

@keyframes adict-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
