#adict-popup {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
    width: 500px;
    min-height: 260px;
    position: absolute;
    z-index: 9999;
    border: 2px solid #b5b5b5;
    text-align: right;
}

#adict-popup > iframe {
    height: 260px;
    width: 100%;
    border: none;
}

#adict-popup > a {
    bottom: 3px;
    right: 0;
    left: 0;
    color: #b5b5b5;
    font-size: 8pt;
    font-family: "Lato", "Roboto", "Segoe UI", sans-serif;
    margin: 0;
    padding: 3px 10px;
    line-height: 15px;
    position: relative;
}

#adict-popup > a:hover {
    text-decoration: underline;
}

.adict-spinner {
    height: 35px;
    width: 35px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#adict-trigger-button {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAB2AAAAdgB+lymcgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAItSURBVDiNjZJfSFNxFMc/995590dt3o0MshiZqwj6J8F0qUHTBP88G/gYEb0Ee4rssYcFRYSDQBSf2kvRm/RQ5h+kYktLFCxZRLM/ThTnn9nG1nZ7sN17mwYd+MH5nXM+X845v5/A7nYCuBDsqbl59FBp+Vbq19r6Zi48/+XnYKB/YchYKBSBDcA9wFO1z8ybUC1yiV6Syao8HV4Z9t+JthRiogG+DowBHgCfR/kLBpBLBNoalebqA5ZAsUA38ACQConm+goNDIa+a769zMTJI2U3gEsFAQXoNY7j2m/BV6cAkM/Do6ElwjMbmoivXhGAh4BTBK4CDmOrLV4FSdzWG40kiP1IMxJe0/IdTU72OkoU4LIIdFJkrV5dbzSyDY691QWsFpHzZysAOkWgxgi7XVYaau0AqKoOzkaTzEaT+hgeBcAtArJRoLlOQfizjYl363xaSGm7eP4qodW1NzmpqpRLTcA3oAJAEOCiof33H5Icq7Zp92gspfmyLNDa4EgJwH3AD3D8sI2RwdPFK/mnjUcSyyIwAOQA7en+1/IC0yZgDugVRfxtjU4t+eL1Kl+XMjsgsyzS3V7JSiKbnZxP3irETefO2Cfj4141Pu5VF8e8qttlVYEdxyQJ6vDAqXSwp8YP+tfNX+s6GLeXSx3KHpN5YmqNvseLu3W9lVe5LUrS3UB/LGQU4GV4dd5sk56k0zl7ZGZzIzy7MQdkgGVgCugDrgDPpj9ufi5wvwFrZbCAOZPUCQAAAABJRU5ErkJggg==);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    min-height: initial;
    min-width: initial;
    width: 1em;
    height: 1em;
    border: 0;
    position: absolute;
    z-index: 9999;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.adict-spinner:after {
    animation: adict-spinner 1.2s linear infinite;
    border: 5px solid;
    border-color: #b5b5b5 transparent #e8c13a transparent;
    border-radius: 50%;
    box-sizing: unset;
    content: " ";
    display: block;
    height: 25px;
    width: 25px;
}

@keyframes adict-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
